body {
    font-family: "UnifrakturMaguntia", cursive;
}

a {
    color: blue;
    font-size: 50px;
}

p{
    color: brown;
}

#Menus {
    background-color: aqua;
}

.Menu1 {
    color: crimson;
}

.Menu2 {
    color: burlywood;
}

.Menu3 {
    color: black;
    text-decoration: none;
}

.Menu4 {
    color: green;
}